.App {
  text-align: center;
}

body{
  background-color: #111;
  color:#fff;
}

.timer{
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

#time-container > span{
  display: inline-block;
  width: 85px;
  text-align: center;
}

#time-container > span:nth-child(3){
  display: inline-block;
  width: 75px;
  text-align: center;
}

#lap-content{
  text-align: center;
  width: 210px;
  height: auto;
  margin:0 auto;
}

.timer-lap{
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color:gray;
}

#time-container-lap > span{
  display: inline-block;
  width: 60px;
  text-align: center;
}
.buttons-sect{
  margin-top:20px;
  font-size: 20px;
  text-align: center;
}
.buttons-sect  button{
  padding: 10px;
  margin:0 2px 0 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hi{
  color:red;
}

.lo{
  color:blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
